<!doctype html>
<html lang="en-GB">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ "assets/images/favicon.svg" | relative_url }}" />
        <title>{{ page.title }}</title>
        <meta name="description" content="{{ page.description }}" />
        {% feed_meta %}
        <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}">
        <!-- <link rel="stylesheet" href="{{ "assets/css/main.css" | relative_url }}"> -->
    </head>
    <body>
        <!-- <header>
            <div class="url1parent">
                <div class="box1"></div>
                <div class="box2"></div>
                <a class="url" href="{{ site.url | relative_url }}">{{site.urlName}}</a>
            </div>
            <div class="url2parent">
                <div class="box1"></div>
                <div class="box2"></div>
                <a class="url" href="{{ site.url | relative_url }}">{{site.urlSuffix}}</a>
            </div>
    
            {% include navigation.html %}
        </header> -->

        <header class="navbar">
            <a class="navbar__homeLink url" href="{{ site.url | relative_url }}"><div class ="navbar__homeLink__text">{{site.urlName}}</div></a>
            {% include navigation.html %}
        </header>
        
        <div class="content__container">
            <content>
                <div class="pageTitle">
                    <div class="pageTitle__box1"></div>
                    <div class="pageTitle__box2"></div>
                    <div class="pageTitle__text">{{ page.header }}</div>
                    <div class="pageTitle__subheading">
                        <div class="pageTitle__author">{{page.author}}</div>
                        <div class="pageTitle__date">{{ page.date | date_to_long_string }}</div> 
                    </div>
                </div>
                
                
                <div class="content__article">
                    <!-- <div class="content__description">
                        <p>{{ page.description }}</p>
                    </div> -->
                    {{ content }}
                </div>
                    
            </content>

            {% include footer.html %}
        </div>            
        
        
    </body>
</html>